<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>

        <a href="#"><img width="350" height="200" src="images/logo-mercado-liebre.svg" alt="logo"></a>
        <p>Lugar para poner la barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <ul>
            <a href="#">
                <li>Ofertas</li>
            </a>
            <a href="#">
                <li>Tiendas Oficiales</li>
            </a>
            <a href="#">
                <li>Vender</li>
            </a>
            <a href="#">
                <li>Ayuda</li>
            </a>
        </ul>
        <ul>
            <a href="#">
                <li>Crea tu cuenta</li>
            </a>
            <a href="#">
                <li>Ingresa</li>
            </a>
            <a href="#">
                <li>Mis compras</li>
            </a>
        </ul>

    </header>



    <main>
        <ul>
            <li><b>Seccion: Basado en tu ultima visita</b></li>
            <section class="etiqueta">
                <img width="300" height="250" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6770</p>
                <p>40% OFF</p>
                <b>Cafetera Moulinex</b>
            </section>



            <section class="etiqueta">
                <img width="300" height="250" src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <b>Mackbook Pro 2019</b>
            </section>


            <section class="etiqueta">
                <img width="300" height="250" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <b>Samsung Galaxy S10</b>
            </section>

            <section class="etiqueta">
                <img width="300" height="250" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <p>$23.200</p>
                <p>5% off</p>
                <b>SmartTv Samsung 43"</b>
            </section>

            <li><b>Seccion de Ofertas</b></li>
            <section class="etiqueta">
                <img width="300" height="250" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% off</p>
                <b>Cafetera Moulinex</b>
            </section>

            <section class="etiqueta">
                <img width="300" height="250" src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <b>Macbook Pro 2019</b>
            </section>

            <section class="etiqueta">
                <img width="300" height="250" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <b>Samsung Galaxy S10</b>
            </section>


            <section class="etiqueta">
                <img width="300" height="250" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <p>$23.200</p>
                <p>5% off</p>
                <b>SmartTv Samsung 43"</b>
            </section>
            <hr>


        </ul>
    </main>

    <footer>
        <ul>
            <li><b>Paga con tarjeta o en efectivo</b></li>
            <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago en puntos de
                pago. ¡Y siempre es seguro!</p>
            <br>

            <li><b>Envio gratis desde $ 2500</b></li>
            <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            <br>

            <li><b>Seguridad de principío a fin</b></li>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre
                protegid@.</p>
            <br>

            <li id="copy"><img id="logoC" src="images/bx-copyright.svg" alt=""><b>Copyright 1999-2021 MercadoLiebre
                    S.R.L</b></li>
        </ul>
    </footer>

</body>

</html>