<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="../public/css/styles.css">

</head>


<body>
<!--HEADER-->
    <header>
        <div class="logo-busqueda">

          <div class="logo-contenedor"><img class="logo" src="../public/images/logo-mercado-liebre.svg" alt="logo">
           </div>

            <div class="barra-busqueda">
            <form action="">
            <input type="search" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
            </form>
            </div>

            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>

        </div>

        <!-- <div class="titulo"><p><i class="fas fa-hand-holding-usd"></i></p><p>Compra en cuotas y sin tarjeta de credito</p></div> -->

        <nav class="navegacion">
            <ul class="lista-nav1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            </ul>
                
            <ul class="lista-nav2">
            <li><a href="">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="menu-hamburguesa">
            <p><i class="fas fa-bars"></i></p>
        </div>
    </header>

<!--MAIN-->
    <main>
        <section class="section-ultimaVisita">

            <h4>Seccion: Basado en tu ultima visita</h4>
            <article>
                <img class="img-articulo" src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$6770</p>
                <p class="descuento">40% OFF</p>
                </div>
                <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article>
                <img class="img-articulo" src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
            </div>
                <p class="nombre-producto">MacBook Pro 2019</p>
                </div> 
                
            </article>

            <article>
                <img class="img-articulo" src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
            </div>
                <p class="nombre-producto">Samsung Galaxy 510</p>
                </div> 
                
            </article>

            <article>
                <img class="img-articulo" src="../public/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43'">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
            </div>
                <p class="nombre-producto">Smart TV Samsung 43'</p>
                </div> 
                
            </article>

        </section>
        

        <section class="section-ofertas">

            <h4>Seccion de Ofertas</h4>        
            <article>
                <img class="img-articulo" src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$6770</p>
                <p class="descuento">40% OFF</p>
            </div>
                <p class="nombre-producto">Cafetera Moulinex</p>
                </div> 
                
            </article>

            <article>
                <img class="img-articulo" src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
            </div>
                <p class="nombre-producto">MacBook Pro 2019</p>
                </div> 
                
            </article>

            <article>
                <img class="img-articulo" src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
            </div>
                <p class="nombre-producto">Samsung Galaxy 510</p>
                </div> 
                
            </article>

            <article>
                <img class="img-articulo" src="../public/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43">
                <div class="contenedor-descripcion">
                <p><i class="fas fa-truck"></i></p>
                <div class="precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
            </div>
                <p class="nombre-producto">Smart TV Samsung 43'</p>
                </div> 
                
            </article>

        </section>
    </main>

<!--FOOTER-->
    <footer>
        
          <div class="contenedor-iconos">
              <div>
                  <p><i class="fas fa-credit-card"></i></p>
                  <h6>Paga con tarjeta o en efectivo</h6>
                  <p class="subtitulo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                  
                </div>
              <div>
                  <p><i class="fas fa-gift"></i></p>
                  <h6>Envio gratis desde $2500</h6>
                  <p class="subtitulo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
              <div>
                  <p><i class="fas fa-user-shield"></i></p>
                  <h6>Seguridad de principio a fin</h6>
                  <p class="subtitulo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
              </div>
         

            </div>

        <p class="copy"><i class="far fa-copyright"></i>Copyright 199-2020 MercadoLiebre S.R.L</p>
    </footer>
    

</body>

</html>