<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/general.css">
    

</head>
<body>
    <!--HEADER-->
    <header>
        <div class="logo-busqueda">

          <div class="logo-contenedor"><a href="./home.html"><img class="logo" src="../public/images/logo-mercado-liebre.svg" alt="logo"></a>
           </div>

            <div class="barra-busqueda">
            <form action="">
            <input type="search" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
            </form>
            </div>

            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>

        </div>

      

        <nav class="navegacion">
            <ul class="lista-nav1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            </ul>
                
            <ul class="lista-nav2">
            <li><a href="./register.html">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="./login.html">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="menu-hamburguesa">
            <p><i class="fas fa-bars"></i></p>
        </div>
    </header>

    <main class="main-login">
        <h1 class="titulo">¡Hola! Ingresa tu nombre y contraseña</h1>
         <div class="contenedor-form">
       
        <form class="formulario" action="./home.html">

           <div class="nombre">
                <input class="input-nombre" type="text" name="name" id="id" placeholder="ingresa tu nombre">
            </div>

             <div class="contraseña">
                <input class="input-contraseña" type="password" name="password" id="password" placeholder="ingresa tu contraseña">
              </div>

              <div class="container-btn">
            <button class="btn-ingresar" type="submit">Ingresar</button>
        </div>

        </form>
    </div>
    </main>


<!--FOOTER-->
    <footer>
        
        <div class="contenedor-iconos">
            <div>
                <p><i class="fas fa-credit-card"></i></p>
                <h6>Paga con tarjeta o en efectivo</h6>
                <p class="subtitulo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!</p>
                
              </div>
            <div>
                <p><i class="fas fa-gift"></i></p>
                <h6>Envio gratis desde $2500</h6>
                <p class="subtitulo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.</p>
              </div>
            <div>
                <p><i class="fas fa-user-shield"></i></p>
                <h6>Seguridad de principio a fin</h6>
                <p class="subtitulo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                  porque estás siempre protegid@.</p>
            </div>
       

          </div>

      <p class="copy"><i class="far fa-copyright"></i>Copyright 199-2020 MercadoLiebre S.R.L</p>
  </footer>

</body>
</html>