<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header>...</header>
    <main>
        <h1 class="titulo-h1">MI PERFIL</h1>

        <!--FOTO PERFIL-->
        <div class="foto"><img src="#" alt=""></div>

        <!--FORMULARIO - USUARIO-->

        <div class="form-profile">

            <form action="" method="POST">
                <!--FOTO PERFIL-->

                <div class="img-perfil">
                    <label for="image">Imagen de perfil</label> <hr>
                    <input type="file" name="image" value="" id="image">
                </div>

                   <!--nombre de usuario-->
                   <div class="nombre-usuario">
                    <label for="username">Nombre de usuario</label> <hr>
                    <input type="text" name="username" value="" id="username"  placeholder="Nombre">
                </div>

                   <!--email-->
                   <div class="email">
                    <label for="email">Email</label> <hr>
                    <input type="email" name="email" value="" id="email" placeholder="Email">
                </div>

                   <!--contrase単a-->
                   <div class="contrase単a">
                    <label for="password">Contrase単a</label> <hr>
                    <input type="password" name="password" value="" id="password" placeholder="Contrase単a">

                </div>
            </form>
        </div>
        
    </main>

    

    
</body>
</html>