<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/general.css">
    

</head>
<body class="register">
    <!--HEADER-->
    <header>
        <div class="logo-busqueda">

          <div class="logo-contenedor"><a href="./home.html"><img class="logo" src="../public/images/logo-mercado-liebre.svg" alt="logo"></a>
           </div>

            <div class="barra-busqueda">
            <form action="">
            <input type="search" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
            </form>
            </div>

            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>

        </div>

      

        <nav class="navegacion">
            <ul class="lista-nav1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            </ul>
                
            <ul class="lista-nav2">
            <li><a href="./register.html">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="./login.html">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="menu-hamburguesa">
            <p><i class="fas fa-bars"></i></p>
        </div>
    </header>

    <main class="main-login">
        <h1 class="titulo">¡Hola! Ingresa tus datos</h1>
         <div class="form-register">
       
        <form class="formulario" action="./home.html">

            <!--NOMBRE Y APELLIDO-->
           <div class="nombre">
               <h3>Nombre y apellido</h3>
                <input class="input-nombre" type="text" name="name" id="id" placeholder="Nombre y apellido">
            </div>

            <!--NOMBRE DE USUARIO-->
             <div class="contenedor">
                <h3>Nombre de usuario</h3>
                <input class="input-contraseña" type="text" name="username" id="username" placeholder="Nombre de usuario">
              </div>

              <!--FECHA DE NACIMIENTO-->
              <div class="contenedor">
                <h3>Fecha de nacimiento</h3>
                <input class="input-contraseña" type="date" name="password" id="password" placeholder="Fecha de nacimiento">
              </div>

              <!--DOMICILIO-->
              <div class="contenedor">
                <h3>Domicilio</h3>
                <input class="input-contraseña" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
              </div>

              <!--PERFIL DE USUARIO-->
              <div class="prefil-usuario">
                <h3>Perfil de usuario</h3>
                <input class="input-prefil" type="radio" value="comprador" name="perfil" id="comprador">
                <label for="comprador">Comprador</label>
                <input class="input-prefil" type="radio" value="vendedor" name="perfil" id="vendedor">
                <label for="vendedor">Vendedor</label>
              </div>


              <!--INTERESES-->
              <div class="contenedor">
                <h3>Intereses</h3>
                <input class="input-intereses" type="checkbox" value="Electro" name="intereses" id="electro">
                <label for="electro">Electro</label>
              </div>
              <div class="contenedor">
               
                <input class="input-intereses" type="checkbox" value="moda" name="intereses" id="moda">
                <label for="moda">Moda</label>
              </div>
              <div class="contenedor">
                
                <input class="input-intereses" type="checkbox" value="jugueteria" name="intereses" id="jugueteria">
                <label for="jugueteria">Jugueteria</label>
              </div>
              <div class="contenedor">
               
                <input class="input-intereses" type="checkbox" value="hogar" name="intereses" id="hogar">
                <label for="hogar">Hogar</label>
              </div>
              <div class="contenedor">
                
                <input class="input-intereses" type="checkbox" value="vida-sana" name="intereses" id="vida-sana">
                <label for="vida-sana">Vida sana</label>
              </div>


              <!--FOTO DE PERFIL-->
              <div class="contenedor">
                  <h3>Foto de perfil</h3>
                <input class="input-intereses" type="file" value="foto" name="foto" id="foto">
                <label for="moda">Foto de perfil</label>
              </div>

              <!--CONTRASEÑA-->
              <div class="contenedor">
                <h3>Contraseña</h3>
                <input class="input-contraseña" type="password" name="pass" placeholder="Contraseña" minlength="8">
              </div>

              <!--REPETIR CONTRASEÑA-->
              <div class="contenedor">
                <h3>Repetir contraseña</h3>
                <input class="input-contraseña" type="password" name="repeat-pass" placeholder="Repetir contraseña" minlength="8">
              </div>


              <!--BOTONES-->
            <div class="container-btn">
                <button class="btn-registrarse" type="submit">Registrarse</button>
                <button class="btn-registrarse" type="reset">Resetear</button>
            </div>
        </form>
        
       
    </div>
    </main>


<!--FOOTER-->
    <footer>
        
        <div class="contenedor-iconos">
            <div>
                <p><i class="fas fa-credit-card"></i></p>
                <h6>Paga con tarjeta o en efectivo</h6>
                <p class="subtitulo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!</p>
                
              </div>
            <div>
                <p><i class="fas fa-gift"></i></p>
                <h6>Envio gratis desde $2500</h6>
                <p class="subtitulo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.</p>
              </div>
            <div>
                <p><i class="fas fa-user-shield"></i></p>
                <h6>Seguridad de principio a fin</h6>
                <p class="subtitulo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                  porque estás siempre protegid@.</p>
            </div>
       

          </div>

      <p class="copy"><i class="far fa-copyright"></i>Copyright 199-2020 MercadoLiebre S.R.L</p>
  </footer>

</body>
</html>