.titulo{
margin: 0 auto;
margin: 20px;
font-size: 24px;
font-weight: 600;

}

.contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 50vh;
    border: solid 1px #fff;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
   
}

.formulario{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}

.nombre{
width:70%;
}

.input-nombre{
    width: 100%;
    height: 40px;
}

.contraseña{
width:70%;
}

.input-contraseña{
    width:100%;
    height: 40px;
}


.container-btn{
    width: 50%;
}

.btn-ingresar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--colorCeleste);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 800ms ease-out;
}

.btn-ingresar:active{
    transform: scale(1.2);
}

.btn-ingresar:hover{
    background-color: rgb(72, 132, 221);
}
