@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --colorAmarillo:#EAC926;
    --colorAzul:#03264C;
    --colorCeleste:#1259c3;
    --colorGrisOscuro:#666;
    --colorGrisClaro: #ebebeb;
    --colorVerde:#39b54a;
    --tipografia:'Roboto'
}

li {
list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--colorGrisClaro)
}

header{
    width: 100vw;
    padding-bottom: 10px;
    background-color: var(--colorAmarillo);
}

.logo-contenedor{
    width: 50%;
    padding: 10px;
}

.logo{
    width: 100%;
}

.barra-busqueda{
    width:50vw;
}

.barra-busqueda input{
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.barra-busqueda i{
    border: solid 1px black;
    padding: 2px;
    background-color: white;
}

.titulo{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px 10px;
    font-size: 16px;
}

.navegacion{
    display: none;
}

.lista-nav2 i{
    margin-left:4px;
}

.menu-hamburguesa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    background-color: var(--colorCeleste);
    border-radius: 5px;
}

.menu-hamburguesa i{
    color: white;
}

main{
    width: 90%;
    margin: 0 auto;

}

.section-ofertas, .section-ultimaVisita{
    margin-top:40px;
}

.section-ultimaVisita h6, .section-ofertas h6{
    font-size: 24px;
}


article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    background-color: white;
    padding: 15px;
}

article .contenedor-descripcion {
    width: 100%;
    margin:15px;
    border-top: solid 1px #ebebeb;
    padding-top: 15px;
    position: relative;
}
article p{
    align-self: flex-start;

}

article p i {
    display: block;
    color: var(--colorVerde);
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio-descuento{
display: flex;
width: 50%;
align-items: center;
}

.precio{
display: block;
font-size: 18px;
flex-grow: 0.3;
}

.descuento{
display: block;
font-size:16px;
color: var(--colorVerde);
flex-grow: 0.7;
}

.nombre-producto{
display: none;
font-weight: 600;
}


.img-articulo{
    width: 100%;
    height: 100%;
}


.contenedor-iconos{
    margin-top: 24px;
   
}

.contenedor-iconos h6{
    font-size: 18px;
    font-weight: 800;
}

.contenedor-iconos div{
    width: 100vw;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-iconos div p i{
    color: var(--colorCeleste);
    font-size: 26px;
}

.contenedor-iconos .subtitulo{
    display: inline-block;
    width: 70%;
    text-align: center;
    margin-top: 5px;

}

.copy{
    margin-top: 50px;
    text-align: center;
}

@media (min-width:361px){
    article .contenedor-descripcion .nombre-producto{
        display: inline-block;
        font-weight: 600;
        padding-top: 15px;
    }

    .navegacion{
        display: contents;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width:769px){
    
}
